// ID identifying the cluster to create. Use your username so that resources created can be tracked back to you.

cluster_id = "cluster id"

// Base domain from which the cluster domain is a subdomain.
base_domain = "xxxx.com"

// Name of the VDC.
vcd_vdc = "your vdc name"

// User on the vSphere server.
vcd_user = "admin"

// Password of the user on the vcd console.
vcd_password = "xxxyyyxxxsss"

// Name of the VCD organization. Found on the VCD console, Data Centers tab
vcd_org = "long currently 33 character string retrieved from vdc console"

// url for the vcd. (this is frankfurt)
vcd_url = "https://fradir01.vmware-solutions.cloud.ibm.com/api"


// Name of the RHCOS VM template to clone to create VMs for the cluster
rhcos_template = "rhcos OpenShift 4.7.0"

// Name of the vcd Catalog
vcd_catalog = "Public Catalog"


// Set bootstrap_ip, control_plane_ip, and compute_ip if you want to use static
// IPs reserved someone else, rather than the IPAM server.

// The IP address to assign to the bootstrap VM.
bootstrap_disk = 250000
bootstrap_ip_address = "172.16.0.20"


// The number of control plane VMs to create. Default is 3.
control_plane_count = 3
control_disk = 250000
// The IP addresses to assign to the control plane VMs. The length of this list
// must match the value of control_plane_count.
  control_plane_ip_addresses = ["172.16.0.21", "172.16.0.22", "172.16.0.23"]




// The number of compute VMs to create. Default is 3.
compute_count = 2
compute_disk =250000

// The IP addresses to assign to the compute VMs. The length of this list must
// match the value of compute_count.
     compute_ip_addresses = ["172.16.0.24","172.16.0.25"]


// Storage Nodes disk size must be at least 2097152 (2TB) if you want to install OCS and set storage count to 3

storage_count = 0
storage_disk = 2097152
//storage_ip_addresses = ["172.16.0.26", "172.16.0.27", "172.16.0.28"]

// The IP address to assign to the loadbalancer VM.
lb_ip_address = "172.16.0.19"

// including Bastion server for local DNS 161.26.0.10 is the DNS server for IBM Cloud Private Network so you can use things like NTP from IBM Cloud Private Network
vm_dns_addresses = ["9.9.9.9","161.26.0.10"]

openshift_pull_secret = "~/pull-secret"
openshift_version="4.6"
additionalTrustBundle = ""


// airgapped block see readme for details on airgapped
airgapped = {
      enabled = false
// ocp_ver_rel has to match version.release that you loaded in mirror
      ocp_ver_rel = "4.6.15"
      mirror_ip = "172.16.0.10"
      mirror_fqdn = "mirror.airgapped.com"
      mirror_port = "5000"
      mirror_repository = "ocp4/openshift4"
      }


//public IP for your cluster pick one of the 5 available
cluster_public_ip       = "161.xxx.xx.xxx"

initialization_info     = {
    public_bastion_ip = "161.x.y.y"
    bastion_password = "OCP4All"
    internal_bastion_ip = "172.16.0.10"
    terraform_ocp_repo = "https://github.com/ibm-cloud-architecture/terraform-openshift4-vcd"
    rhel_key = "redhat license key from VCD screen"
    machine_cidr = "172.16.0.1/24"
    network_name      = "ocpnet"
    static_start_address    = "172.16.0.150"
    static_end_address      = "172.16.0.220"
    bastion_template        = "RedHat-8-Template-Official"
    run_cluster_install     = true 
    }
